.iframeWindow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.input-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.toggle-icon {
    border-radius: 1vh;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, margin 0.3s ease;
    display: none;
    margin-top: 1em;
    outline-offset: 2px;
    text-shadow:
        /* main 2px outline + half-pixel in-betweeners */
        -2px -2px 0 black,
        -1.5px -1.5px 0 black,
        -1px -2px 0 black,
        -0.5px -1.5px 0 black,
         0px -2px 0 black,
         0.5px -1.5px 0 black,
         1px -2px 0 black,
         1.5px -1.5px 0 black,
         2px -2px 0 black,

        -2px -1px 0 black,
        -2px  0px 0 black,
        -2px  1px 0 black,
        -2px  2px 0 black,
         2px -1px 0 black,
         2px  0px 0 black,
         2px  1px 0 black,
         2px  2px 0 black,

        -1.5px 1.5px 0 black,
        -1px  2px 0 black,
        -0.5px 1.5px 0 black,
         0px  2px 0 black,
         0.5px 1.5px 0 black,
         1px  2px 0 black,
         1.5px 1.5px 0 black,

        -1px 0px 0 black,
         1px 0px 0 black,
         0px -1px 0 black,
         0px 1px 0 black;
}

.toggle-icon:hover {
    font-size: 1.7rem;
}
  
.toggle-icon.open {
    transform: rotate(180deg);
}

.url-bar {
    position: relative;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease;
}

.url-bar.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

/* When the URL bar is hidden, shrink the margin-top of the toggle icon */
.url-bar.hidden + .toggle-icon {
    margin-top: -9vh; /* Adjust this value as needed */
}


/* Input styling */
#urlInput {
    flex-grow: 1;
    height: 6vh;
    padding: 0 2.5em 0 1em;
    border: none;
    border-radius: 100vh;
    outline: none;

    color: #ffffff;
    background-color: #1e1e24;

    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.url-bar:hover {
    transform: scale(1.05);
}

.search-icon {
    position: absolute;
    right: 1em;
    color: #aaa;
    font-size: 1.2rem;
    pointer-events: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

#urlInput:focus + .search-icon {
    color: #6495ED;
    transform: scale(1.1);
}